<!DOCTYPE html>
<html>
    <head>
        <title>Button Test</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">       
    </head>
    <body>
        <img class="pic" src="{{url_for('static', filename='blacksugar.jpg')}}">

        <button class="subscribe-button" onclick="window.location.href='https://drive.google.com/file/d/1vla915Urhb7f9zcELv-2DqAikJEwmJQu/view?usp=sharing';"> My Resume</button>
        <button class="tweet-button" onclick="window.location.href='https://www.linkedin.com/in/chinitang/';"> LinkedIn</button>


        <form method="POST" action="/test"> 
            <button class="join-button">JOIN</button> 
        </form> 

        <form method="POST" action="/"> 
            <button type="submit">Call Function</button> 
        </form> 


        

    </body>

</html>


